# macOS
.DS_Store

# Python venv
.venv/

# Raw data
data/*.csv
*.csv

# Other caches
__pycache__/
.ipynb_checkpoints/
src/.DS_Store
src/data/.DS_Store
data/.DS_Store

# trained data
models/cicids